@media (max-width: 1800px) {
    .about-me.style-ten article, .about-me.style-ten.pad-top-75.pad-left-50.pad-right-50 {
        padding-left: 25px;
        padding-right: 25px;
    }
    .fullpage-wrapper .hover-blog-content {
        padding: 150px 50px 50px 130px;
    }
    .about-me.style-ele {
        padding-left: 150px;
        padding-right: 150px;
    }
    .about-me.style-twel {
        margin-right: 0;
        margin-left: 0;
        padding-top: 40px;
    }
    .about-me .style-fifteen article, .about-me.style-twel article {
        padding: 0 5px;
    }
    .popular-blog-2 {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 1600px) {
    .fullpage-wrapper .hover-blog-content .entry-title {
        font-size: 44px;
        line-height: 60px;
    }
    .fullpage-wrapper .entry-header, .about-me.style-ten .entry-content-bottom, .about-me.style-ten .entry-meta-content {
        padding: 0;
    }
    .about-me.style-ele {
        padding-left: 100px;
        padding-right: 100px;
    }
    .about-me.style-twel .entry-title {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 15px;
    }
    .about-me.style-twel .entry-meta {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .about-me .style-fifteen .entry-title {
        font-size: 24px;
        line-height: 39px;
        margin-bottom: 16px;
    }
    .about-me .style-fifteen .entry-content-bottom {
        padding-bottom: 0;
    }
}

@media (max-width: 1400px) {
    .about-me.style-ten article, .about-me.style-ten.pad-top-75.pad-left-50.pad-right-50 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .fullpage-wrapper .hover-blog-content {
        padding: 100px 40px 50px 120px;
    }
    .fullpage-wrapper .hover-blog-content .entry-title {
        font-size: 36px;
        line-height: 52px;
    }
    .about-me.style-ten .entry-meta-content .entry-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .about-me.style-ten .entry-read-more {
        font-size: 10px;
    }
    .about-me.style-ele {
        padding-left: 75px;
        padding-right: 75px;
    }
    .popular-blog-2.mb100 {
        margin-bottom: 50px;
    }
    .popular-blog-2 .entry-meta-content .entry-title {
        margin-top: 7px;
    }
    .about-me .style-fifteen .entry-content-bottom {
        display: none;
    }
    .about-me .style-fifteen .entry-title {
        font-size: 20px;
        line-height: 35px;
    }
    .about-me .style-fifteen .entry-meta-content {
        padding: 20px 20px 20px 0;
        bottom: -100px;
    }
    .about-me .style-fifteen .entry-meta-content.post-wide {
        bottom: -100px;
    }
    .about-me .style-fifteen article {
        margin-bottom: 160px;
    }
    .about-me .style-fifteen .entry-meta-content {
        margin-right: 15%;
    }
}

@media (max-width: 1200px) {
    .about-me.style-four .entry-meta-content {
        margin-left: 100px;
        margin-right: 50px;
    }
    .about-me.style-four .entry-title {
        font-size: 24px;
        line-height: 30px;
    }
    .about-me.style-five .entry-media, .about-me.style-five .entry-meta-content {
        min-height: 251px;
        height: 251px;
    }
    .about-me.style-five article.top-align .entry-media {
        min-height: 281px;
    }
    .about-me.style-six .entry-meta-content {
        height: 152px;
    }
    .about-me.style-six .entry-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .about-me.style-eight article.p-style-2, .about-me.style-eight article.p-style-3 {
        width: 100%;
        margin-right: 0;
    }
    .about-me.style-eight article.p-style-4, .about-me.style-eight article.p-style-1 {
        width: 80%;
    }
    .popular-blog .pad-top-25 {
        padding-top: 10px;
    }
    .popular-blog .entry-meta-content {
        padding-left: 0;
    }
    .popular-blog .entry-meta-content.mb50 {
        margin-bottom: 30px;
    }
    .about-me.style-twel article {
        margin-bottom: 50px;
    }
    .floating-blog .slider-5 .owl-nav {
        left: -33%;
    }
    .pad-bottom-100.floating-blog {
        padding-bottom: 75px;
    }
    .popular-blog-2.mb75 {
        width: 33.3%;
        float: left;
    }
}

@media (max-width: 1024px) {
    .about-me .entry-meta-content, .about-me .entry-content-bottom {
        padding-left: 185px;
        padding-right: 50px;
    }
    .about-me.style-two .entry-meta-content, .about-me .entry-content-bottom {
        padding-left: 150px;
        padding-right: 100px;
    }
    .about-me .entry-date {
        font-size: 60px;
        left: 15px;
    }
    .popular-blog-2.mb75 {
        width: 50%;
        float: left;
    }
    .popular-blog-2.mb100 .entry-meta-content, .popular-blog-2.mb75 .entry-meta-content {
        padding-left: 25px;
        padding-right: 0;
    }
    .popular-blog-2 .entry-date {
        position: relative;
        left: 0 !important;
        font-size: 40px !important;
    }
}

@media (max-width: 991px) {
    .about-me .entry-meta-content, .about-me .entry-content-bottom {
        padding-left: 110px;
        padding-right: 50px;
    }
    .about-me.style-two .entry-content-bottom, .about-me.style-two .entry-meta-content, .about-me .entry-content-bottom {
        padding-left: 110px;
        padding-right: 50px;
    }
    .about-me .entry-title {
        font-size: 24px;
        line-height: 32px;
    }
    .about-me .entry-date {
        font-size: 45px;
    }
    .about-me .entry-date span {
        font-size: 12px;
        bottom: 7px;
    }
    .about-me.style-two .entry-meta, .about-me .entry-content-bottom h5, .about-me .entry-read-more, .about-me .entry-meta {
        font-size: 14px;
    }
    .about-me .entry-content {
        line-height: 24px;
        font-size: 14px;
    }
    .about-me.style-three {
        padding-top: 75px;
        padding-bottom: 50px;
    }
    .about-me.style-three article {
        margin-bottom: 75px;
    }
    .about-me.style-four .entry-meta-content {
        width: 80%;
        min-width: auto
    }
    .about-me.style-four article {
        margin-bottom: 120px;
    }
    .about-me.style-five .entry-media, .about-me.style-five .entry-meta-content {
        min-height: 284px;
        height: 284px;
    }
    .about-me.style-five article.top-align .entry-meta-content, .about-me.style-five article.top-align .entry-media {
        width: 50%;
    }
    .about-me.style-six .entry-content-bottom h5, .about-me.style-six .entry-meta {
        display: none;
    }
    .about-me.style-six .entry-meta-content {
        padding: 20px 30px 20px 25px;
        width: 55%;
        height: 169px;
    }
    .about-me.style-six .entry-media {
        width: 45%;
    }
    .about-me.style-six .entry-title {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .about-me.style-six article {
        margin-bottom: 60px;
    }
    .about-me.style-eight .entry-title, .about-me.style-seven .entry-title {
        font-size: 18px;
        line-height: 24px;
    }
    .about-me.style-eight .entry-meta-content, .about-me.style-seven .entry-meta-content {
        padding-right: 5px;
    }
    .about-me.style-eight article.p-style-4 {
        margin-bottom: 40px;
    }
    .about-me.style-three .entry-title span {
        font-size: 70px;
    }
    .popular-blog .entry-meta-content {
        padding-left: 0;
        padding-right: 0px;
    }
    .popular-blog .pad-top-25 {
        padding-top: 30px;
    }
    .treading-blog .entry-title {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
        letter-spacing: 0;
    }
    .fullpage-wrapper .left-side.large.dark .hover-blog-image {
        width: 80%;
        height: 90% !important;
        left: 10%;
    }
    .fullpage-wrapper .hover-blog-content {
        padding: 50px;
    }
    .fullpage-wrapper .close-single-blog {
        top: -20px;
        right: 50%;
        margin-right: -22px;
    }
    .about-me.style-ele .entry-title, .posttext-stroke:after, .posttext-stroke {
        line-height: 36px;
        font-size: 24px;
    }
    .about-me.style-ele .entry-read-more {
        font-size: 10px;
    }
    .about-me.style-twel {
        padding-top: 0;
        padding-bottom: 70px;
    }
    .about-me.style-eight.style-thrteen article .entry-meta-content {
        padding-right: 0;
        padding-left: 0;
    }
    .floating-blog .slider-5 .owl-nav {
        left: -43%;
        top: 50px;
    }
}

@media (max-width: 767px) {
    .about-me.style-two .entry-content-bottom, .about-me.style-two .entry-meta-content, .about-me .entry-content-bottom {
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-me.style-four .entry-meta-content {
        width: 85%;
        min-width: auto;
        margin-left: 50px;
        margin-right: 25px;
        bottom: -40%;
    }
    .about-me.style-four .entry-title {
        font-size: 18px;
        line-height: 26px;
    }
    .about-me.style-four .entry-content-bottom h5, .about-me.style-four .entry-read-more {
        font-weight: bold;
        font-size: 12px;
    }
    .about-me.style-four .entry-meta {
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 0px;
    }
    .about-me.style-four .entry-share {
        display: none;
    }
    .about-me.style-five .social-share {
        display: none;
    }
    .about-me.style-five .entry-title {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .about-me.style-five article.top-align .entry-media, .about-me.style-five .entry-media, .about-me.style-five .entry-meta-content {
        min-height: 210px;
        height: 210px;
    }
    .about-me.style-five .entry-meta-content {
        padding: 16px 16px 15px 20px;
    }
    .about-me.style-five .entry-content-bottom {
        padding-left: 20px;
    }
    .about-me.style-six .entry-content-bottom {
        padding-right: 40px;
    }
    .about-me.style-six .entry-meta-content, .about-me.style-six .entry-media {
        width: 100%;
    }
    .about-me.style-nine article {
        padding-top: 40px;
        padding-bottom: 70px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .about-me.style-nine .container {
        padding-left: 0;
        padding-right: 0;
    }
    .about-me.style-nine h4.entry-meta {
        font-size: 12px;
    }
    .about-me.style-nine .entry-title {
        font-size: 26px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about-me.style-nine .entry-read-more {
        font-size: 12px;
    }
    .about-me .entry-content-bottom h5, .about-me.style-nine h5 {
        display: none;
    }
    .page-title.mb100, .fullwidth-slider .slider-4, .about-me.style-two article, .about-me.style-one article, .about-me article, .page-title.mb75 {
        margin-bottom: 50px;
    }
    .about-me.style-ten.pad-top-75.pad-left-50.pad-right-50 {
        padding-top: 50px;
    }
    .about-me.style-ten article {
        margin-bottom: 100px;
    }
    .about-me.style-eight.style-thrteen article.p-style-5 .entry-title {
        font-size: 22px;
        line-height: 34px;
        font-weight: 600;
    }
    .about-me.style-eight.style-thrteen article .entry-title {
        max-width: 450px;
        margin: 0 auto 10px;
    }
    .popular-blog-2 .entry-meta-content .entry-title a {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .about-me .entry-date {
        position: relative;
        left: 0;
        margin-bottom: 5px;
    }
    .about-me .entry-date span {
        left: 50px;
        right: auto;
    }
    .about-me.style-two .entry-content-bottom, .about-me.style-two .entry-meta-content, .about-me .entry-content-bottom, .about-me .entry-meta-content, .about-me .entry-content-bottom {
        padding-left: 0px;
        padding-right: 0px;
    }
    .about-me.style-two .entry-meta, .about-me .entry-content-bottom h5, .about-me .entry-read-more, .about-me .entry-meta {
        font-size: 14px;
        margin-left: 0;
    }
    .about-me.style-two .entry-meta span {
        padding-left: 0;
    }
    .about-me.style-four .entry-meta-content {
        width: 90%;
        margin-left: 8%;
        margin-right: 2%;
        bottom: auto;
        top: 60%;
        padding: 10px 20px 15px 17px;
    }
    .about-me.style-four article {
        margin-bottom: 150px;
    }
    .about-me.style-five article.top-align .entry-media img, .about-me.style-five .entry-media img {
        height: 100%;
    }
    .about-me.style-eight article.p-style-2, .about-me.style-eight article.p-style-3 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .about-me.style-eight article.p-style-4, .about-me.style-eight article.p-style-1 {
        width: 100%;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .about-me.style-three .entry-share, .slider-image .entry-meta-content a.entry-read-more {
        display: none;
    }
    .about-me .entry-content {
        margin-bottom: 20px;
    }
    .about-me.style-eight.style-thrteen article.p-style-5 .entry-title, .about-me.style-eight.style-thrteen article .entry-title {
        font-size: 18px;
        line-height: 26px;
    }
    .fullpage-wrapper .left-side.large.dark .hover-blog-image {
        width: 90%;
        height: 90% !important;
        left: 5%;
    }
    .fullpage-wrapper .hover-blog-content .social-text li a i {
        font-size: 16px;
        line-height: 36px;
        width: 40px;
        height: 40px;
        border: 2px #fff solid;
        top: -55px;
        margin-left: -20px;
    }
    .about-me.style-ten article:nth-child(2n), .about-me.style-ten article {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .about-me.style-ten article:last-child {
        margin-bottom: 0;
    }
    .about-me.style-ele article {
        margin-bottom: 50px;
    }
    .about-me.style-ele {
        padding: 50px 15px 0 15px;
    }
    .about-me.style-twel .pad-top-25 {
        padding-top: 0;
    }
    .about-me.style-eight.style-thrteen article .entry-meta {
        display: none !important;
    }
    .popular-blog-2.mb75 {
        width: 50%;
        float: left;
    }
    .popular-blog-2 .entry-date span {
        left: 20px !important;
    }
    .about-me .style-fifteen article {
        margin-bottom: 120px;
    }
}

@media (max-width: 480px) {
    .about-me.style-five article.top-align .entry-meta-content, .about-me.style-five article.top-align .entry-media, .about-me.style-five article.top-align .entry-media, .about-me.style-five .entry-media, .about-me.style-five .entry-meta-content {
        width: 100%;
    }
    .about-me.style-five article.top-align .entry-media, .about-me.style-five .entry-media, .about-me.style-five .entry-meta-content {
        height: auto;
        min-height: auto;
    }
    .about-me.style-five .entry-content-bottom {
        position: relative;
        padding-left: 0;
        top: 0;
    }
    .about-me.style-five .entry-meta {
        margin-bottom: 10px;
        display: inline-block;
    }
    .about-me.style-five .social-share {
        display: inline-block;
    }
    .about-me.style-five .entry-content-bottom {
        padding-right: 0;
    }
    .fullpage-wrapper .hover-blog-content {
        padding: 30px 30px;
    }
    .popular-blog-2.mb75 {
        width: 100%;
        float: left;
    }
}