.dd-wrapper {
    cursor: pointer !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.dd-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 38px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    cursor: default;
    position: relative;
    background-color: #fff;
}

.dd-header-title {
    font-size: 13px;
    font-weight: 600;
    margin: 2px 20px;
    margin-right: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dd-list {
    z-index: 10;
    position: absolute;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
    box-shadow: 0 2px 5px -1px #e8e8e8;
    font-weight: 700;
    max-height: 220px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.dd-list li:not(:last-child) {
    border-bottom: 1px solid black;
}

.dd-list-item {
    width: 100%;
    font-size: 13px;
    padding: 5px 20px;
    line-height: 1.6rem;
    cursor: default;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dd-list-item.selected {
    color: #fff;
    background-color: #34343481;
}

.dd-list-item:hover {
    color: #fff;
    background-color: #343434;
}

.angle-up, .angle-down {
    margin-right: 20px;
}

/* @media(max-width: 991px) {
    .dd-header-title, .dd-list-item {
        font-size: 0.6rem;
    }
} */