.pad-75 {padding-top: 75px; padding-bottom: 75px; }
.notfound-wrapper {background-image: url('/static/bg-pattern-2.jpg'); background-repeat: repeat; }
.notfound-wrapper h1 {font-size: 180px; color: #999; letter-spacing: 5px; font-weight: bold; line-height: 140px; margin-bottom: 20px;  }
.notfound-wrapper p {color: #111; font-size: 22px; font-weight: 400; margin-bottom: 30px; display: inline-block;  }

@media (max-width: 767px) {
    .pad-75 {padding-top: 50px; padding-bottom: 50px; }
    .notfound-wrapper h1 {font-size: 120px; margin-bottom: 0; line-height: 1; }
}
