.header-wrapper.sticky { position: fixed; top: 0; width: 100%; z-index: 100; background-color: #FFF;}
.header-wrapper.sticky + .main-body-content { padding-top: 77px; }

.header-wrapper {padding: 13px 0; }
.header-wrapper:before{ content: "";width: 100%;height: 2px;top: 0px;left: 0;position: absolute;z-index: -2;background: linear-gradient(to right,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -ms-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -o-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-linear-gradient(left,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -moz-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#FFF),color-stop(35%,#eeeeee),color-stop(65%,#eeeeee),color-stop(100%,#FFF));}
.header-wrapper:after{ content: "";width: 100%;height: 2px;bottom: 0px;left: 0;position: absolute;z-index: -2;background: linear-gradient(to right,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -ms-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -o-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-linear-gradient(left,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -moz-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#FFF),color-stop(35%,#eeeeee),color-stop(65%,#eeeeee),color-stop(100%,#FFF));}
.bottom-border:after{display: block !important; content: "";width: 100%;height: 2px;bottom: 0px;left: 0;position: absolute;z-index: 1;background: linear-gradient(to right,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -ms-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -o-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-linear-gradient(left,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -moz-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#FFF),color-stop(35%,#eeeeee),color-stop(65%,#eeeeee),color-stop(100%,#FFF));}
.top-border:before{display: block !important; content: "";width: 100%;height: 2px;top: 0px;left: 0;position: absolute;z-index: 1;background: linear-gradient(to right,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -ms-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -o-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-linear-gradient(left,#FFF 0,#eeeeee 35%,#eeeeee 65%,#FFF 100%);background: -moz-linear-gradient(left,#fff 0,#eeeeee 35%,#eeeeee 65%,#fff 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#FFF),color-stop(35%,#eeeeee),color-stop(65%,#eeeeee),color-stop(100%,#FFF));}
.logo {display: inline-block;}
.header-wrapper .icon {display: inline-block; margin-top: 7px; }
.header-wrapper .icon-search {background-position: -385px 0;width: 25px;height: 25px;display: inline-block;}
.search-area { cursor: pointer; padding-top: 14px };
.search-icon {padding-top: 14px; display: inline-block;}
.search-icon img {width: 22px;  display: inline-block; }
#main-menu {padding-top: 7px;}

#main-menu ul li {padding: 0 18px; display: inline-block; position: relative;}
#main-menu ul li a {font-size: 16px; font-weight: 400; text-transform: uppercase;  color: #000; line-height: 42px;letter-spacing: 0.7px;}
#main-menu ul li:after {background-color: #333;border-radius: 100%;  width: 4px; height: 4px;     bottom: 18.8px;    right: -3px; content: ''; position: absolute; content: ''; }
#main-menu ul li:last-child:after {display: none; }
#main-menu2 {padding-top: 7px; }
#main-menu2 ul li {padding: 0 15px; display: inline-block; position: relative;}
#main-menu2 ul li a {font-size: 16px; font-weight: 400; text-transform: uppercase;  color: #000; line-height: 42px;letter-spacing: 0.7px; }
#main-menu2 ul li:after {background-color: #333;border-radius: 100%;  width: 4px; height: 4px;     bottom: 20px;    right: -3px; content: ''; position: absolute; content: ''; }
#main-menu2 ul li:nth-child(4) {padding: 0; }
#main-menu2 ul li:nth-child(3):after,#main-menu2 ul li:nth-child(4):after,#main-menu2 ul li:last-child:after {display: none; }
#main-menu ul li a:hover {color: #777;}
#main-menu > ul > li:hover .level-two {visibility: visible; opacity: 1; }
#main-menu > ul > li > .level-two li:hover .level-three {visibility: visible; opacity: 1; }
#main-menu2 > ul > li:hover .level-two {visibility: visible; opacity: 1; }
#main-menu2 > ul > li > .level-two li:hover .level-three {visibility: visible; opacity: 1; }


.menu-click {display: none; float: right; position: relative; width: 30px; height: 20px; margin-top: 12px; margin-right: 5px; }
.menu-click span {position: absolute; background-color: #111; right: 0; height: 2px; width: 25px; display: inline-block;      transition: all 0.3s;}
.menu-click span:nth-child(1) {top:0 ;}
.menu-click span:nth-child(2) {top:46%;     width: 20px;  }
.menu-click span:nth-child(3) {top:auto; bottom: 0; width: 26px; }
.menu-click.open span:nth-child(1) {    -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);top: 10px; }
.menu-click.open span:nth-child(2) {    opacity: 0; }
.menu-click.open span:nth-child(3) {    -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);top: 10px; }

.side-click {display: inline-block; float: right; position: relative; width: 30px; height: 20px; margin-top: 12px; margin-right: 10px; }
.side-click span {position: absolute; background-color: #111; right: 0; height: 2px; width: 25px; display: inline-block;      transition: all 0.3s;}
.side-click span:nth-child(1) {top:0 ;}
.side-click span:nth-child(2) {top:46%;     width: 20px;  }
.side-click span:nth-child(3) {top:auto; bottom: 0; width: 26px; }
.side-click.open span:nth-child(1) {    -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);top: 10px; }
.side-click.open span:nth-child(2) {    opacity: 0; }
.side-click.open span:nth-child(3) {    -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);top: 10px; }
.overlay-section {z-index: 1; background-color: rgba(0,0,0,0.9); visibility: hidden; opacity: 0; position: fixed; top:0;  left:0; width: 100%; height: 100%; -webkit-transition: all .3s;    -moz-transition: all .3s;    -o-transition: all .3s;    transition: all .3s;}
.overlay-section.active {  opacity: 1; visibility: visible; }

.menu-overlay {width: 300px; height: 100%; left:-100%;  position: fixed;  top:0; background-color: #fff; z-index: 3; -webkit-transition: all .3s;    -moz-transition: all .3s;    -o-transition: all .3s;    transition: all .3s;}
.menu-overlay.active {left:80px;}
.menu-overlay #main-menu {padding-top: 25px; padding-left: 20px; }
.menu-overlay #main-menu ul li {width: 100%; text-align: left; margin-bottom: 5px; }
.menu-overlay #main-menu ul li:after {display: none;}
.menu-overlay #main-menu ul li.has-submneu:before {content: ''; position: absolute; right:20px; top:20px; height: 3px; width: 3px; background-color: #111; border-radius: 100%;display: inline-block !important; }
.menu-overlay #main-menu ul li.has-submneu:after {content: ''; position: absolute; right:30px; top:20px; height: 3px; width: 3px; background-color: #111; border-radius: 100%; display: inline-block !important; }
.menu-overlay .level-two {top:0; padding-top: 0; left:100%; padding-left: 30px;  }
.menu-overlay .level-two li {border-bottom: 0;  background-color: transparent; }
.menu-overlay .level-two li a {font-size: 16px !important; line-height: 42px; color: #fff !important;} 
.menu-overlay .social-icons-three {position: absolute; bottom:25px;  padding-left: 30px; }
.menu-overlay .social-icons-three li {width: 40px; height: 40px; border:1px #333 solid; border-radius: 100%; text-align: center; line-height: 40px; }
.menu-overlay .social-icons-three li a i{font-size: 16px; color: #333;}

.level-two {position: absolute; top:100%; left:15px ; padding-top: 15px;    z-index: 10;    width: 170px; visibility: hidden; opacity: 0; }
.level-two li{text-align: left;  background-color: #232323;border-bottom: 1px solid rgba(132, 132, 132, 0.1); width: 100%; float: left; padding: 0 !important; }
.level-two li:after {display: none!important; }
.level-two li a { color: #ccc !important;padding: 12px 15px;font-size: 13px !important;font-weight: 400; text-transform: uppercase;}
.level-three {position: absolute; background-color: #232323; top:0; left:100% ;    z-index: 10;    width: 170px; visibility: hidden; opacity: 0;}
.level-three li:after {display: none!important; }
.header-wrapper.style-one {padding: 0; border:0; position: absolute; top:55px; width: 100%; left:0; z-index: 1;}
.header-wrapper.style-two:before,
.header-wrapper.style-three:before ,
.header-wrapper.style-one:before {display: none;}
.header-wrapper.style-two:after,
.header-wrapper.style-one:after,
.header-wrapper.style-three:after {display: none;}
.header-wrapper.style-two .logo,
.header-wrapper.style-one .logo {display: inline-block;}
.header-wrapper.style-two .logo img,
.header-wrapper.style-one .logo img {width: 140px; }
.header-wrapper.style-two #main-menu ul li a,
.header-wrapper.style-one #main-menu ul li a {font-size: 15px; font-weight: 400; letter-spacing: 0.7px;  }
.header-wrapper.style-two #main-menu,
.header-wrapper.style-one #main-menu {padding-top: 7px; }
.header-wrapper.style-two {  border:0; position: relative; padding-top: 12px; padding-bottom: 12px; }
.header-wrapper.style-five {padding-top: 20px; padding-bottom: 20px; }
.header-wrapper.style-three {padding: 40px 0 15px; }
.header-wrapper.style-three #main-menu2 {padding-top: 20px; padding-bottom: 25px;    position: relative;}
.header-wrapper.style-three #main-menu2 li a {font-weight: 500; font-size: 15px; color: #222; }
.header-wrapper.style-three #main-menu2 li a img {padding-left:20px; padding-right: 30px; position: relative; left:10px;}
.header-wrapper.style-three .logo {display: inline-block; }
.header-wrapper.style-three .logo img{width: 140px; border-radius: 100%; border:6px #fff solid}
.header-wrapper.style-three:after {background-image: url('/static/bg-pattern-2.jpg'); background-repeat: repeat; background-size: cover;  height: 195%; content: ''; position: absolute; width: 100%; top:0; left:0; display: inline-block; }
.menu-title {background-color: #fff ; }
.menu-title #main-menu {padding-top: 15px; padding-bottom: 15px; }
.menu-title #main-menu li {padding: 0 20px; }
.menu-title #main-menu li a {line-height: 40px;  font-size: 14px; font-weight: 500;   }
.menu-title .search-icon {padding-top: 23px; display: inline-block;}
.menu-title .search-icon img {width: 20px; }
.header-wrapper.style-four {padding: 30px 0 40px;  }
.header-wrapper.style-four .logo {display: inline-block; margin-bottom: 20px; }
.header-wrapper.style-four .logo img{width: 140px; border-radius: 100%; border:8px #fff solid}
.header-wrapper.style-four:after {background-image: url('/static/bg-pattern-2.png'); background-repeat: repeat; background-size: cover;  height: 202%; content: ''; position: absolute; width: 100%; top:0; left:0; display: inline-block; }
.soical-icon-font {padding:15px 0; }
.soical-icon-font li {padding-left: 8px; padding-right: 8px; }
.soical-icon-font li a { line-height: 40px;  font-size: 16px; color: #333; }

/* RESPONSIVE SECTION */

@media (max-width: 1600px) {
    .header-wrapper.large {width: 240px; }
    .header-wrapper.large {padding-top: 75px; padding-bottom: 75px; }
    .header-wrapper.large .logo-div {padding-top: 75px; padding-bottom: 75px; }
    .header-wrapper.large .menu-div {padding-top: 75px; }
}

@media (max-width: 1200px) {
    .header-wrapper.style-two.pad-20 {padding: 13px 0 !important; }
}

@media (max-width: 991px) {
    .header-wrapper .search-area { display: none;}
    .header-wrapper.style-three {padding: 20px 0; }
    .header-wrapper.style-three .logo img {width: 120px; }
    .menu-click {display: inline-block; cursor: pointer;}
    .header-wrapper.style-one .menu-click {display: inline-block; }
    .header-wrapper.style-one .menu-click,
    .header-wrapper.style-two .menu-click {margin-top: 17px; }
    .header-wrapper.style-four {padding: 30px 0 40px;  }
    .header-wrapper.style-four .logo img {border:5px #fff solid; width: 100px; }
    .header-wrapper.style-four img {width: 100px; }
    .header-wrapper.style-one {position: relative; top:13px; }
}