#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
}

.loader-img {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1003;
}

.loader-img img {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 58px;
    height: auto;
    z-index: 1002;
    margin-left: -29px;
    margin-top: -25px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-img {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.2s 0.3s ease;
    transition: all 0.2s 0.3s ease;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1.5s ease-out;
    transition: all 0.3s 1.5s ease-out;
}
