.single-project {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 13px;
    margin: 12px;
    box-shadow: 0px 0px 0px 0px rgba(123, 173, 209, 0.6);
}

.single-project .sep {
    max-width: 70%;
    border: 0.4px solid black;
    margin-left: 0;
}

.single-project .project-links ul {
    list-style-type: none;
}

.single-project .project-links ul li {
    font-size: 15px;
    padding-right: 1px;
    display: inline-block;
}

.single-project .project-links ul li a {
    color: #4ea8fcc2;
}

.single-project .project-links ul li a:hover {
    color: #4ea8fc;
}

.single-project .project-links ul li:not(:first-child) {
    margin-left: 10px; 
}

.single-project .project-heading {
    font-weight: bold;
    font-size: 22px;
}
