.dashboard-post {
    margin: 10px;
    background-color: #F5F5F5;
    box-shadow: 1px 2px 2px gray;
    height: 150px;
    align-content: center;
}

.dashboard-post .dashboard-post-header-img-container {
    text-align: center;
}

.dashboard-post .post-header-img {
    max-height: 100px;
}

.dashboard-post a:hover, a:active {
    color: black !important;
}

.dashboard-post .dashboard-post-content-container .actions ul {
    list-style-type: none;
}

.dashboard-post .posted-date {
    margin-bottom: 2px;
}

.dashboard-post .toggle-publish {
    font-size: 1.5rem;
}

.dashboard-post .toggle-publish.toggle-wait {
    cursor: not-allowed;
    color: gray;
}

.dashboard-post .preview {
    font-size: 1.2rem;
}

.dashboard-post .actions ul li {
    cursor: pointer;
    display: inline;
    margin-right: 20px;
}